<div class="card mx-auto text-black">
  <h2 class="card-header">Hi <%= @user.username %>!</h2>
  <div class="card-body">
		<div class="row">
			<div class="col-3">
				<%= image_tag(current_user.avatar_thumbnail, class: "img-fluid") %>
			</div>
			<div class="col">
				<h3 class="display-6">User details:<h3>
				<br/>
				<p>Name: <%= @user.first_name %> <%= @user.last_name%></p>
				<p>Email: <%= @user.email %></p>
			</div>
		</div>
		<br/>
		<div class="d-md-flex justify-content-md-end">
			<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary btn-right"%>
		<div>
	</div>
</div>