<p id="notice"><%= notice %></p>

<div class="card question-show--card-div">
  <h2 class="card-header text-dark text-center border-0"><%=@question.title %></h2>
  <h3 class="card-header small text-dark text-muted text-center">Question from <i><%=@question.user.username%></i></h3>
  
  <div class="container text-dark col-10 mx-auto">
    <br>
    <textarea readonly class="form-control field question-show--text-area"> <%= @question.content.to_plain_text %> </textarea>
  </div>

  <div class="container text-dark col-10 mx-auto">
    <% if @question.answer %>
      <h3>Answer from '<%=@car.user.username%>':</h3>
      <p><%= @question.answer %></p>
    <%end%>
  <div>

  <% if @is_user_signed_in_the_car_owner %>
    <%= render 'answer_form', question: @question %>
  <% end %>

</div><br>