<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h2 class="text-center text-dark">TOPIC: <%=@question.title %></h2>
  </div>
  <div class="container text-dark">
    <h3>Question from '<%=@question.user.username%>':</h3>
    <p><%= @question.content %></p>
  </div>

  <div class="container text-dark">
    <% if @question.answer%>
      <h3>Answer from '<%=@car.user.username%>':</h3>
      <p><%= @question.answer %></p>
    <%end%>
  <div>
  
  <% if user_signed_in? and @car.user_id == current_user.id %>
    <%= form_with(model: @question, url: answer_path(@car.id, @question.id)) do |form| %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
        <ul>
        <% @question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        </ul>
        </div>
      <% end %>
        
      <%= form.hidden_field :title, value: @question.title %>
      <%= form.hidden_field :content, value: @question.content %>
      <%= form.hidden_field :user_id, value: @question.user_id %>
        
      <div class="field text-dark">
        <%= form.label "ANSWER" %>
        <%= form.text_field :answer %>
      </div>

      <br>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= form.submit "Send answer", class:"btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to 'Back', car_path(@car), class:"btn btn-warning"%>
</div>