<div class="card padding margin-top>
    <h3 class="text-uppercase"> <%= product.manufacturer %> </h3>
    <h4 class="text-uppercase"> <%= product.model %> </h4>
    <p class="text-secondary"> <%= product.price %> </p>
    <img src=<%= product.image %> />
    <%= link_to "See more", product %>
</div>