<div>
  <h2 class="text-center"> manufacturer <%= @product.manufacturer %> </h2>
  <h1 class="text-center"> model <%= @product.model %> </h1>
  <h3 class="text-center"> price <%= @product.price %> </h3>
  <h3 class="text-center"> car_type <%= @product.car_type %> </h3>
  <h3 class="text-center"> car_class <%= @product.car_class %> </h3>
  <h3 class="text-center"> body <%= @product.body %> </h3>
  <h3 class="text-center"> capacity <%= @product.capacity %> </h3>
  <%= link_to "Delete product", @product, method: :delete %>
</div>