<div class="large-container center-block">
  <div class="col">
    <h1> <%= @product.model %> </h1>
  </div>
  <div class="row">
    <div class="col-5">
      <%= image_tag @product.image, class: "img-fluid rounded" %>
    </div>
    <div class="col">
      <h3>Price: <%= @product.price %></h3>
      <h5>Manufacturer: <%= @product.manufacturer %></h5>
      <h5>Capacity: <%= @product.capacity %></h5>
      <h5>Car type: <%= @product.car_type %></h5>
      <h5>Car class: <%= @product.car_class %></h5>
      <h5>Body car type: <%= @product.body %></h5>
      <%= link_to "Delete product", @product, method: :delete %>
    </div>
  </div>
</div>