<br/>
<div class="card col-6 mx-auto user-sign-in--card-div">
  <h2 class="card-header text-dark border-0">Sign in</h2>
  <h6 class="card-header text-dark small text-muted">Log in to your Legendary Motorsport account</h6>
   
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group col-6 mx-auto">
        <%= f.label :email, class: "col-form-label" %><br />
        <%= f.email_field :email, class: "form-control form-control-lg field", autofocus: true, autocomplete: "email", placeholder: "name@example.com" %>
      </div>

      <div class="field form-group col-6 mx-auto">
        <%= f.label :password, class: "col-form-label" %><br />
        <%= f.password_field :password, class: "form-control form-control-lg field", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check text-dark col-6 mx-auto">
          <%= f.check_box :remember_me, class: "form-check-input text-dark", type: "checkbox" %>
          <div class="field">
            <%= f.label :remember_me, class: "form-check-label small new-session--checkbox-label"%>
          </div>
        </div>
      <% end %>

    <br><br>
      <div class="actions d-grid gap-2 col-6 mx-auto">
        <%= f.submit "Log in", class: "btn btn-primary btn-lg user-sign-in--btn-lg", type: "submit" %>
      </div>
    <% end %>

    <br>
    <div class="actions d-grid gap-2 col-5 mx-auto">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<br><br>