<div class="card-body">
    
    <div class="d-inline-block show--div-info">

    <div class="row">
        <div class="col-4 text-center">
          <image src="<%= (url_for(@car.car_image)) %>" class="img-fluid show--car-image">
        </div>
        <div class="col col-form-label">
            <table class="table car-show--table">
            <tr>
            <td><div class="field form-group"><label class="small"><p class="car-show--table-labels d-inline">Manufacturer</p></label></div></td>
                    <td><%= @car.manufacturer %></td>
                    </tr>
                <tr>
                    <td><div class="field form-group"><label class="small"><p class="car-show--table-labels d-inline">Capacity</p></label></div></td>
                    <td><%= @car.capacity %></td>
                    </tr>
                <tr>
                    <td><div class="field form-group"><label class="small"><p class="car-show--table-labels d-inline">Car class</p></label></div></td>
                    <td><%= @car.car_class %></td>
                </tr>
                <tr>
                <td><div class="field form-group"><label class="small"><p class="car-show--table-labels d-inline">Car type</p></label></div></td>
                <td><%= @car.car_type %></td>
                </tr>
                <tr>
                <td><div class="field form-group"><label class="small"><p class="car-show--table-labels d-inline">Body car type</p></label></div></td>
                <td><%= @car.body %></td>
                </tr>
                <% if false %>
                    <tr>
                        <td><div class="field form-group"><label class="small"><p class="car-show--table-labels d-inline">Price</p></label></div></td>
                        <td><%= "USD " + number_with_delimiter( @car.price, delimiter:".").to_s %><br>
                        <%= " EUR " + number_with_delimiter( @car.exchange_price('EUR'), delimiter:".").to_s %><br> 
                        <%= " ARS " + number_with_delimiter( @car.exchange_price('ARS'), delimiter:".").to_s %><br>
                        <%= " BRL " + number_with_delimiter( @car.exchange_price('BRL'), delimiter:".").to_s %></td>
                    </tr>   
                <% end %>
                <% if is_user_signed_in_car_owner(@car) && @car.is_for_sale %>
                <tr class="borderless-cell text-end">
                        <td></td>
                        <td>                            
                            <div class="d-inline-block text-center">
                                <div class="d-inline"><%= link_to image_tag("Icons/edit_page_black.png", class:"car-show--edit-image") + "EDIT", edit_car_path(@car), class:"btn btn-warning car-show--details-btn" %></div><br>
                                <p class="d-inline car-show--table-edit-btn">This is your post, edit it here.</p>
                            </div>
                        </td>
                    </tr>
                <% elsif @car.is_for_sale %>
                    <tr class="borderless-cell text-end">
                        <td></td>
                        <td>
                            <div class="d-inline-block text-center">
                                <div class="d-inline-block text-center">
                                    <div class="d-inline"><%= link_to image_tag("Icons/shopping_cart_white.png", class:"buy-btn--image") + "BUY", buy_path(@car.id), class:"btn btn-success btn-buy car-show--btn-buy", title: "Go to purchase confirmation" %></div><br>
                                    <p class="d-inline car-show--table-edit-btn">&nbsp</p>
                                </div>
                                <div class="d-inline-block text-center">
                                    <div class="d-inline"><%= link_to image_tag("Icons/question_bubble_white.png", class:"car-show--question-image") + "Ask the seller", new_car_question_path(@car), class: "btn btn-primary car-show--details-btn" %></div><br>
                                    <p class="d-inline car-show--table-edit-btn">Any doubts?</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
	</div>
    </div>
  </div>