<br/>
<div class="card col-8 mx-auto text-black user-edit--card-div">
  <h2 class="card-header text-dark border-0">Edit Account</h2>
  <h6 class="card-header text-dark small text-muted">Here you can edit your account details. To confirm changes remember to insert your current password</h6>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group text-center col-10 mx-auto">
        <%= f.label :avatar, class: "d-block text-start col-form-label" %>
        <%= image_tag(resource.avatar_thumbnail, class: "profile-thumbnail user-edit--avatar") %>
      </div>

      <div class="field form-group col-10 mx-auto">
        <%= f.file_field :avatar %>
      </div>
      <br/>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :email, class: "col-form-label" %><br />
        <%= f.email_field :email, class: "form-control form-control-lg", autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :password, class: "col-form-label" %> <i class="text-muted">(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, class: "form-control form-control-lg", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em class="text-muted"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :password_confirmation, class: "col-form-label" %><br />
        <%= f.password_field :password_confirmation, class: "form-control form-control-lg", autocomplete: "new-password" %>
      </div>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :username, class: "col-form-label" %><br />
        <%= f.text_field :username, class: "form-control form-control-lg", autofocus: true, autocomplete: "username", placeholder: "username" %>
      </div>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :first_name, class: "col-form-label" %><br />
        <%= f.text_field :first_name, class: "form-control form-control-lg", autofocus: true, autocomplete: "first_name", placeholder: "John" %>
      </div>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :last_name, class: "col-form-label" %><br />
        <%= f.text_field :last_name, class: "form-control form-control-lg", autofocus: true, autocomplete: "last_name", placeholder: "Doe" %>
      </div>

      <div class="field form-group col-10 mx-auto">
        <%= f.label :current_password, class: "col-form-label" %> <i class="text-muted">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: "form-control form-control-lg", autocomplete: "current-password" %>
      </div>
      <br/>
      <div class="actions d-grid gap-2 col-3 mx-auto">
        <%= f.submit "Update", class: "btn btn-primary btn-lg user-edit--btn", type: "submit" %>
      </div>
    <% end %>
    <br/>
  </div>
</div>
<br/>

<div class="card col-8 mx-auto text-black user-edit--card-div">
  <h2 class="card-header text-dark border-0">Account cancellation</h2>
  <h6 class="card-header text-dark small text-muted">We hope to see you again soon!</h6>
  <div class="card-body text-center">
    <p class="card-text text-start">Account termination is definitive. All data from your account will be permanently deleted immediately upon termination.</p><br>
    <%= link_to image_tag("Icons/ex_white.png", class:"delete-account--image") + "Delete my account", registration_path(resource_name), class: "btn btn-danger btn-lg text-center user-edit--btn", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
<br><br>