<%= form_with(model: @product) do |form| %>


<div class="field form-group">
    <% form.label :model %>
    <%= form.text_field :model, class:"form-control", placeholder:"Model" %>
</div>

<div class="field form-group">  
    <% form.label :car_class %>
    <%= form.text_field :car_class, class:"form-control", placeholder:"Model" %>
</div>

<div class="field form-group">  
    <% form.label :car_type %>
    <%= form.text_field :car_type, class:"form-control", placeholder:"Model" %>
</div>

<div class="field form-group">  
    <% form.label :body %>
    <%= form.text_field :body, class:"form-control", placeholder:"Model" %>
</div>

<div class="field form-group">  
    <% form.label :capacity %>
    <%= form.text_field :capacity, class:"form-control", placeholder:"Model" %>
</div>

<div class="field form-group">  
    <% form.label :manufacturer %>
    <%= form.text_field :manufacturer, class:"form-control", placeholder:"Model" %>
</div>

<div class="field form-group">  
    <% form.label :price %>
    <%= form.text_field :price, class:"form-control", placeholder:"Model" %>
</div>

<br/>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>